<table class="inspections">
  <thead>
    <tr>
      <th>Serial</th>
      <th>Location</th>
      <th>Last Inspection</th>
      <th>Next Due</th>
      <th>Result</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% inspections.each do |inspection| %>
      <tr>
        <td>
          <%= link_to inspection.serial, inspection_path(inspection) %>
        </td>
        <td><%= inspection.location %></td>
        <td><%= inspection.inspection_date&.strftime('%d/%m/%Y') %></td>
        <td><%= inspection.reinspection_date&.strftime('%d/%m/%Y') %></td>
        <td>
          <% if inspection.passed %>
            <mark>PASS</mark>
          <% else %>
            <mark style="background-color:#f2dede;color:#a94442;">FAIL</mark>
          <% end %>
        </td>
        <td>
          <%= link_to edit_inspection_path(inspection) do %><em>Edit</em><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
