<article class="view-inspection">
  <h2>Inspection Details</h2>

  <% if @inspection.passed %>
    <mark>PASS</mark>
  <% else %>
    <mark style="background-color:#f2dede;color:#a94442;">FAIL</mark>
  <% end %>

  <h4>Equipment Details</h4>
  <table>
    <% if @inspection.equipment.present? %>
    <tr>
      <th>Equipment:</th>
      <td><%= link_to @inspection.equipment.name, @inspection.equipment %></td>
    </tr>
    <% end %>
    <tr>
      <th>Serial Number / Asset ID:</th>
      <td><%= @inspection.serial %></td>
    </tr>
    <tr>
      <th>Manufacturer:</th>
      <td><%= @inspection.manufacturer %></td>
    </tr>
    <tr>
      <th>Location:</th>
      <td><%= @inspection.location %></td>
    </tr>
  </table>

  <h4>Inspection Details</h4>
  <table>
    <tr>
      <th>Inspection Date:</th>
      <td><%= @inspection.inspection_date&.strftime('%d/%m/%Y') %></td>
    </tr>
    <tr>
      <th>Next Inspection Due:</th>
      <td><%= @inspection.reinspection_date&.strftime('%d/%m/%Y') %></td>
    </tr>
    <tr>
      <th>Inspector:</th>
      <td><%= @inspection.inspector %></td>
    </tr>
  </table>

  <h4>Results</h4>
  <table>
    <tr>
      <th>Overall Result:</th>
      <td>
        <% if @inspection.passed %>
          <mark>PASS</mark>
        <% else %>
          <mark style="background-color:#f2dede;color:#a94442;">FAIL</mark>
        <% end %>
      </td>
    </tr>
  </table>

  <% if @inspection.comments.present? %>
    <h4>Comments</h4>
    <blockquote>
      <%= simple_format(@inspection.comments) %>
    </blockquote>
  <% end %>

  <hr>

  <h4>Certificate QR Code</h4>
  <%= image_tag qr_code_inspection_path(@inspection), alt: "QR Code for Certificate", width: 250 %>

  <hr>

  <h4>Certificate PDF Link</h4>
  <%= link_to short_certificate_url(@inspection), short_certificate_url(@inspection) %>

  <hr>

  <h4>Actions</h4>
  <div class="actions">
    <%= link_to "Edit Inspection", edit_inspection_path(@inspection), class: "button" %>
    <% if @inspection.equipment.present? %>
      <%= link_to "New Inspection for this Equipment", new_inspection_path(equipment_id: @inspection.equipment.id), class: "button" %>
    <% end %>
  </div>
</article>
